# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# Environment variables
.env
.env.test
.env*.local

# Cypress generated output
cypress/screenshots/
cypress/videos/
cypress/fixtures/generated/
